* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.conteiner {
    border: 2px solid black;
    width: 600px;
    height: 400px;

    
} 


.div1 {
    border: 2px solid blue;
    background-color: blue;
    width: 100px;
    height: 100px;
    transform: translateX(200px);
    
}

.div2 {
    border: 2px solid #9000ff;
    background-color: #9000ff;
    width: 100px;
    height: 100px;
    transform: translateY(200px);
}