* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Conteiner7 {
    height: 500px;
    width: 500px;
    background: url('Evolution.png') no-repeat center / cover;
    border: 2px solid black;
    position: relative;

}

.text {
    font-size: 78px;
    color: rgb(255, 255, 0);
    position: absolute;
    top: 0;
    right: 0;
}